@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: aliceblue;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;    
}
.logo{
    font-size: 2em;
    color: rgb(75, 189, 246);
    pointer-events: none;
}
.navigation a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
   
}
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#text{
    position: absolute;
    font-size: 5em;
    color: #2e2727;
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec{
    position: relative;
    background: #000;
    padding: 100px;
}

.sec h2{
    font-size: 3em;
    color: aliceblue;
    font-weight: 600;
    margin-bottom: 20px;
}
.sec p{
    font-size: 1em;
    color: aliceblue;
    font-weight: 300;
}